<div class="toolbar">
    <img class="logo" src="assets/images/logo.png">
</div>
<div class="content">
    <div class="left">
        <div class="live">
            <div class="stage-title">
                Stage
            </div>
            <div id="media-container" class="media-container">
                <div id="active-container" *ngIf="activeStreamChannel; else noTransmission">
                </div>
                <div class="toolbar" *ngIf="activeStreamChannel">
                    <button (click)="streamToTwitch()" *ngIf="!isLiveSteaming">Stream to Twitch</button>
                    <button (click)="stopTwitchStream()" *ngIf="isLiveSteaming">Stop live streaming</button>
                </div>
            </div>
        </div>
        <div class="channels">
            <app-card-video *ngFor="let channel of channels" [streamChannel]="channel"
                            (sendToStream)="onChannelChange($event)">
            </app-card-video>
        </div>
    </div>
    <div class="right"></div>
</div>

<div class="background-image" [ngClass]="{'animating': animatingBackground}">
    <img class="future" [src]="currentBackground ? currentBackground : 'assets/images/background.jpg'">
    <img class="previous" *ngIf="previousBackground" [src]="previousBackground">
</div>


<ng-template #noTransmission>
    <div class="no-transmission">
        No transmission available
    </div>
</ng-template>
