<div class="channel">

    <div class="topbar">
        <p>
            {{streamChannel.name}}
        </p>
    </div>
    <div [attr.id]="'media-container-'+streamChannel.id" class="media-container">
        <ion-icon name="desktop-outline"></ion-icon>
    </div>
    <div class="toolbar">
        <button *ngIf="isScreenShare && !isSharing" (click)="startSharing()">
            Start screen share
        </button>
        <button *ngIf="isSharing" (click)="sendToStream.emit(streamChannel)">
            Send to stage
        </button>
    </div>
</div>
